@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply font-sans;
    
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
 
  a:hover {
    color: #747bff;
  }

}
.custom-quill .ql-container {
  height: 100% !important;
}

.custom-quill .ql-editor {
  height: 70px;
  overflow-y: auto;
}

